/* * {
  border: solid 1px red;
} */

html {
  font-size: 62.5%; /*16px x 62.5% = 10px*/
}

body {
  color: #333333;
  font-family: "noto sans JP", "Open Sans", "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  font-size: 1.6rem;
}

header {
  width: 1200px;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  background: url(../img/safari.png);
  filter: greyscale(100%);

  margin: 50px auto;
}

header h1 {
  padding: 10px 0;
  color: #32cd32;
  font-size: 3.6rem;
  font-weight: bolder;
}

main {
  width: 1200px;
  margin: auto;
  background-color: #fff;
  border-bottom: 1px solid #ccc;

  padding: 0 0 50px 0;
}

footer {
  width: 1200px;
  margin: auto;
  height: 10px;
  background-color: #666;
  color: #fff;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
}

/* 全体の領域 */
.area-wrapper {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  border-bottom: dotted 1px #888;
}

/* インプット領域 */
.input-wrapper {
  width: 500px;
  /* margin: auto; */
}

/* カレンダー */

.calender-wrapper {
  width: 500px;
  margin: 10px auto;
  box-sizing: border-box;
}
.calender {
  width: 500px;
  box-sizing: border-box;
}

/* インプット側 */
.input_contents {
  width: 500px;
}

.select_button {
  /* width: 100px; */

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input_contents li {
  font-size: 1.2rem;
  width: 150px;

  padding: 10px 0;
  /* width: 500px; */
  list-style-type: none;
  border: 1px solid #666;
  background-color: #666;
  color: #fff;

  display: table-cell;
  cursor: pointer;
  text-align: center;
}

.input_contents li:hover {
  background: #fff;
  color: #666;
  border: 0.5px solid #888;
}

.textarea-wrapper {
  width: 500px;
  display: block;
  text-align: center;
  box-sizing: border-box;
}

textarea {
  /* margin: 3%; */
  resize: none;
  width: 500px;
  height: 230px;
  font-size: 2.4rem;
  box-shadow: 3px 3px 3px 3px #555;
  color: #333333;
}

.button {
  /* border-top: 1px solid #000000; */
  width: 500px;
  margin: 10px auto;

  display: flex;
}

.button li {
  padding: 10px 0;
  width: 240px;
  margin: auto;
  list-style-type: none;
  border: 1px solid #666;
  background-color: #666;
  color: #fff;

  display: table-cell;
  cursor: pointer;

  text-align: center;
}

.button li:hover {
  background: #fff;
  color: #666;
  border: 0.5px solid #888;
}

/* 追記するリストのCSS */
.list-wrapper {
  width: 650px;
  height: 500px;
  /* margin: auto; */

  overflow: scroll;
}

.list-title {
  font-size: 2.4rem;
  color: #666;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.Todo_contents {
  position: relative;
}

.Todo_contents img {
  height: 180px;
  width: 180px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 20px;

  z-index: 0;
}

.Todo_contents p {
  position: absolute;
  top: 50%;
  left: 30%;

  width: 100px;

  /* 長すぎるテキストを省略する */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* height: 200px;
  width: 200px; */
  padding: 10px 5px;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: #fff;
  color: #333333;
  z-index: 100000;
}
.Todo_contents p:hover {
  white-space: normal;
  z-index: 100000;
}

.delete {
  position: absolute;
  top: 0;
  left: 79%;
  padding: 10px 10px;
  background: #f4a460;
  color: #fff;
  font-weight: bold;
  cursor: pointer;

  /* border-radius: 10px; */
  /* margin-left: 10px; */
}

.done {
  position: absolute;
  top: 75%;
  left: 0%;
  width: 160px;
  padding: 10px 10px;
  background: #d2691e;
  color: #fff;
  font-weight: bold;
  text-align: center;

  cursor: pointer;
  /* border-radius: 10px; */
  /* margin-left: 10px; */
}

.done-list {
  height: 200px;
}

.done-list-title {
  padding: 5px;
}

/* datepicker uiの見た目 */
.ui-datepicker {
  font-size: 150%;
}

/* #date_val {
  width: 450px;
  border-style: 1px solid #888;
} */
