html {
  font-size: 62.5%; /*16px x 62.5% = 10px*/
}

body {
  color: #333333;
  font-family: "noto sans JP", "Open Sans", "ヒラギノ角ゴ ProN W3",
    Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
  font-size: 1.6rem;
}

header {
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
  background: url(../img/safari.png);
  filter: greyscale(100%);

  margin: 0 0 50px 0;
}

header h1 {
  padding: 10px 0;
  color: #32cd32;
  font-size: 3.6rem;
  font-weight: bolder;
}

main {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 0 0 50px 0;
}

footer {
  height: 10px;
  background-color: #666;
  color: #fff;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 10px 0;
}

/* インプット領域 */
.input-wrapper {
  width: 1000px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

/* カレンダー */
.calender {
  width: 500px;
  margin: auto;
}

/* インプット側 */
.input_contents {
  width: 500px;
}

.select_button {
  /* width: 100px; */

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input_contents li {
  font-size: 1.2rem;
  width: 150px;

  padding: 10px 0;
  /* width: 500px; */
  list-style-type: none;
  border: 1px solid #666;
  background-color: #666;
  color: #fff;

  display: table-cell;
  cursor: pointer;
}

.input_contents li:hover {
  background: #fff;
  color: #666;
  border: 0.5px solid #888;
}

.textarea-wrapper {
  width: 500px;
  display: block;
  text-align: center;
}

textarea {
  /* margin: 3%; */
  width: 497px;
  height: 230px;
  font-size: 2.4rem;
  box-shadow: 3px 3px 3px 3px #555;
  color: #333333;
}

.button {
  /* border-top: 1px solid #000000; */
  width: 1000px;
  margin: 10px auto;

  display: flex;
}

.button li {
  padding: 10px 0;
  width: 490px;
  margin: auto;
  list-style-type: none;
  border: 1px solid #666;
  background-color: #666;
  color: #fff;

  display: table-cell;
  cursor: pointer;
}

.button li:hover {
  background: #fff;
  color: #666;
  border: 0.5px solid #888;
}

/* 追記するリストのCSS */
.list {
  width: 1100px;
  margin: auto;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list p {
  height: 200px;
  width: 200px;
  padding: 10px 5px;
  font-size: 1.2rem;
  color: #fff;
  margin-right: 10px;
  margin-bottom: 20px;

  /* background-color: #ffb6c1; */

  /* バックグラウンドに画像を表示 */
  /* background: url("../img/01.png"); */
  background-size: cover; /*画像が領域内に収まる*/
  background-repeat: no-repeat; /*繰り返さない*/
  /* object-fit: contain; */
}

/* datepicker uiの見た目 */
.ui-datepicker {
  font-size: 150%;
}

#date_val {
  width: 450px;
  border-style: 1px solid #888;
}
